# Ignora a pasta de configuração do VSCode
.vscode/

# Ignora os executáveis gerados (sem extensão)
array/array
linked_list/queue
linked_list/stack
hash_table/hash_table

# (Opcional) Ignora qualquer executável genérico
*.out